footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

footer-logo {
    display: block;
    height: auto;
}

p {
    color: white;
    margin-top: 10px;
}